<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by Jonathan Nelson. A miner out of California who put himself through school to learn how to write code.
  </p>
  <br />
  <p>
    This is the first project app he ever built.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.JPG', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jonathan Nelson</h2>
      <br />
      <p>
        Jonathan Nelson is a retired golf pro and now works in the mining industry in southern California.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
        
</div>